/* CSS Variables */
:root {
  --primary-text-color: #434455;
  --primary-navy-color: #2e2f42;
  --primary-white-color: #fff;
  --primary-cloud-color: #f4f4fd;
  --primary-iris-color: #4d5ae5;
  --primary-background-color: #fff;
  --secondary-background-color: #2e2f42;
  --click-color: #404bbf;
  --primary-color-slate: #434455;
  --cornflower-color: #E7E9FC
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--primary-navy-color);
  font-style: normal;
}

/* General Styles */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.hero-title {
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.htext {
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

/* HEADER WITH NAVS SECTION */
.header {
  background-color: var(--primary-background-color);
}

/* Import fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

.header-logo-link {
  text-decoration: none;
  font-family: "Raleway";
  color: inherit;
  font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.weblogo {
  color: var(--primary-iris-color);

}

.header-link {
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--click-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--click-color);
}

.header-contacts {
color: inherit;

}

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--primary-white-color);
}

.hero-button {
  cursor: pointer;
  border: none;
  letter-spacing: 0.05em;
  background-color: var(--primary-iris-color);
  color: var(--primary-background-color);
  border-radius: 4px;

}

.hero-button.button:hover,
.hero-button.button :focus {
  background-color: var(--primary-iris-color);
  color: var(--primary-white-color);
}

.section-grey {
  background-color: var(--primary-cloud-color);
}

.footer-logo {
  font-family: Raleway;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  color: var(--primary-cloud-color);
}

.footer {
  background-color: var(--primary-navy-color);
}

.footer-text {
  color: var(--primary-cloud-color);
}

/* Portolio Page */
.button-item {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: 1px solid var(--cornflower-color) ;
  color: var(--primary-iris-color);
  text-align: center;
  border-radius: 4px;
  background-color: var(--primary-cloud-color);
  cursor: pointer;
}

.button-item:hover,
.button-item:focus .active-filter {
  background-color: var(--click-color);
  color: var(--primary-white-color);
  box-shadow: box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  border-color: var(--primary-iris-color);
}

.portfolio-image-item {
  text-decoration: none;
}

.imagedescription {
  color: var(--primary-navy-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.imagesubdescription {
  color: var(--primary-color-slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
