/* CSS Variables */
:root {
  --primary-text-color: #434455;
  --primary-navy-color: #2e2f42;
  --primary-white-color: #fff;
  --primary-cloud-color: #f4f4fd;
  --primary-iris-color: #4d5ae5;
  --primary-background-color: #fff;
  --secondary-background-color: #2e2f42;
  --click-color: #2196f3;
  --primary-color-slate: #434455;
}

body {
  font-family: "Roboto", roboto;
}

/* General Styles */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.hero-title {
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.htext {
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.ptext {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

/* HEADER WITH NAVS SECTION */
.header {
  background-color: var(--primary-background-color);
}

/* Import fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

.header-logo-link {
  text-decoration: none;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5px;
}

.weblogo {
  color: var(--primary-iris-color);
}
.studiologon {
  color: var(--primary-navy-color);
}

.header-link {
  color: var(--primary-navy-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-item .header-link:hover,
.header-item .header-link:focus {
  color: var(--click-color);
}

.header-contacts {
  color: var(--primary-navy-color);
}

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--primary-white-color);
}

.hero-button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.05em;
  background-color: var(--primary-iris-color);
  color: var(--primary-background-color);
}

.hero-button.button:hover,
.hero-button.button :focus {
  background-color: var(--primary-white-color);
  color: var(--primary-iris-color);
}
.studiologow {
  color: var(--primary-cloud-color);
}

.footer {
  background-color: var(--primary-navy-color);
}

.footer-text {
  color: var(--primary-cloud-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer-logo {
  font-family: Raleway;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}

/* Portolio Page */
.button-item {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: var(--primary-iris-color);
  text-align: center;
  border-radius: 4px;
  background: var(--primary-cloud-color);
}

.button-item:hover,
.button-item:focus {
  background-color: var(--primary-iris-color);
  color: var(--primary-white-color);
}

.image-item {
  text-decoration: none;
}

.imagedescription {
  color: var(--primary-navy-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.imagesubdescription {
  color: var(--primary-color-slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
